* {
  font-family: 'Libre Franklin', sans-serif;
  box-sizing: border-box;
}

:root {
  --blueMain: #265c69;
  --blueMainHover: #2b6877;
  --cloudWhite: #f2f4f1;
  --cloudWhiteActive: #eaebe9;
  --coalBlack: #1b222f;
  --cloudBlue: #a6adbd;
  --iceyWaters: #4e5460;
  --shadowAnimateSpeed: 0.6s;
}

html {
  background-color: var(--cloudWhite);
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--blueMain);
  box-shadow: 0 5px 5px rgb(0 0 0 / 30%);
}

h1 {
  margin-left: 30px;
  margin-bottom: 0;
  color: var(--cloudWhite);
  font-family: 'Kanit', sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
}

.pHeader {
  margin-left: 35px;
  margin-bottom: 15px;
  color: var(--cloudBlue);
}

.nav-tabs {
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
}

.nav-link {
  text-decoration: none;
  margin: 0 10px;
  color: var(--cloudWhite);
  padding: 15px;
  border-radius: 5px;
  transition: box-shadow var(--shadowAnimateSpeed);
}

.nav-link:hover {
  box-shadow:
    3px 3px 6px rgb(0 0 0 / 33%),
    -3px -3px 6px rgb(255 255 255 / 25%);
  transition: box-shadow var(--shadowAnimateSpeed);
}

.nav-link:active {
  box-shadow:
    inset 6px 6px 12px rgb(0 0 0 / 50%),
    inset -6px -6px 12px rgb(255 255 255 / 5%);
  transition: box-shadow var(--shadowAnimateSpeed);
}

.active {
  box-shadow:
    0 0 0 rgb(0 0 0 / 0%),
    0 0 0 rgb(0 0 0 / 0%),
    inset 6px 6px 12px rgb(0 0 0 / 50%),
    inset -6px -6px 12px rgb(255 255 255 / 5%);
  transition: box-shadow var(--shadowAnimateSpeed);
}

.active:hover {
  box-shadow:
    3px 3px 6px rgb(0 0 0 / 33%),
    -3px -3px 6px rgb(255 255 255 / 25%),
    inset 0 0 0 rgb(0 0 0 / 0%),
    inset 0 0 0 rgb(0 0 0 / 0%);
  transition: box-shadow var(--shadowAnimateSpeed);
}

.page-section {
  margin: 70px auto;
  padding: 0 50px;
  max-width: 1000px;
}

h2 {
  color: var(--coalBlack);
  font-family: 'Kanit', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  padding: 10px;
  margin-bottom: 60px;
  margin-top: 60px;
}

.lines {
  border-left: 10px solid var(--iceyWaters);
  border-bottom: 3px solid var(--iceyWaters);
}

.about-me-flex {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.profile-pic {
  width: 200px;
  border-radius: 100%;
  box-shadow:
    3px 3px 6px rgb(0 0 0 / 33%),
    -3px -3px 6px rgb(255 255 255 / 100%);
}

p {
  margin: 0;
  margin-left: 30px;
  line-height: 1.8;
  text-align: justify;
}

.accord-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}

.accord-section {
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

.accord-title,
.project-title {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blueMain);
  padding: 0 20px;
  border-radius: 6px;
  z-index: 2;
  box-shadow:
    0 0 0 rgb(0 0 0 / 0%),
    0 0 0 rgb(0 0 0 / 0%);
  transition: box-shadow var(--shadowAnimateSpeed);
}

.accord-active {
  border-radius: 6px 6px 0 0;
}

.accord-title:hover {
  background-color: var(--blueMainHover);
  box-shadow:
    3px 3px 6px rgb(0 0 0 / 33%),
    -3px -3px 6px rgb(255 255 255 / 25%);
  transition: box-shadow var(--shadowAnimateSpeed);
}

h3 {
  color: var(--cloudWhite);

}

.accord-toggle {
  background-color: var(--cloudWhite);
  color: var(--blueMain);
  border-radius: 100%;
  padding: 5px 10px;
  margin: 0;
}

.accord-content,
.project-info-card {
  background-color: var(--cloudWhiteActive);
  box-shadow:
    inset 6px 6px 12px rgb(0 0 0 / 20%),
    inset -6px -6px 12px rgb(255 255 255 / 5%);
  padding: 20px 0 10px 0;
  border-radius: 0 0 6px 6px;
  z-index: 1;
}

.proficient-list {
  margin: 0;
  padding-right: 40px;
}

h4 {
  color: var(--coalBlack);
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.all-projects-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1000px;
}

.project-card {
  margin-bottom: 70px;
  flex: 0 0 100%;
  display: flex;
  justify-content: space-between;
}

.project-image-btns {
  flex: 0 1 45%;
}

img {
  width: 100%;
  box-shadow:
    3px 3px 6px rgb(0 0 0 / 33%),
    -3px -3px 6px rgb(255 255 255 / 100%);
  margin-top: 20px;
}

.project-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.btn-left,
.btn-right {
  flex: 1 1 50%;
  text-align: center;
  background-color: var(--iceyWaters);
  padding: 10px 0;
  color: var(--cloudWhite);
  text-decoration: none;
}

.btn-left {
  border-radius: 8px 0 0 8px;
  border-right: solid 3px var(--coalBlack);
}

.btn-right {
  border-radius: 0 8px 8px 0;
}

.btn-left:hover,
.btn-right:hover {
  background-color: var(--coalBlack);
}

.project-info-card {
  flex: 0 1 53%;
  padding-right: 30px;
  border-radius: 6px;
}

.heading {
  font-weight: 600;
  font-size: 1.2rem;
}

.project-info-card p {
  line-height: 1.4rem;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input {
  width: 400px;
  margin-bottom: 20px;
}

.form textarea {
  width: 400px;
  height: 200px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 0;
}

button {
  margin-top: 20px;
  background-color: var(--blueMain);
  color: var(--cloudWhite);
  padding: 10px 20px;
  border: none;
  box-shadow:
    3px 3px 6px rgb(0 0 0 / 33%),
    -3px -3px 6px rgb(255 255 255 / 100%);
}

button:disabled {
  background-color: var(--cloudBlue);
  box-shadow: none;
}

button:active {
  box-shadow: none;
  box-shadow:
    0 0 0 rgb(0 0 0 / 0%),
    0 0 0 rgb(0 0 0 / 0%),
    inset 6px 6px 12px rgb(0 0 0 / 50%),
    inset -6px -6px 12px rgb(255 255 255 / 5%);
}

.page-section a {
  color: var(--iceyWaters);
  text-decoration: none;
}

.project-btn-wrapper a {
  color: var(--cloudWhite);
}

h3 {
  text-align: center;
}

.flex-lists {
  display: flex;
  justify-content: space-evenly;
}

.flex-lists li {
  margin-bottom: 10px;
}

footer {
  display: flex;
  justify-content: center;
}

footer a {
  color: var(--blueMain);
  margin: 30px 30px;
  transition: color var(--shadowAnimateSpeed);
}

footer a:hover {
  color: var(--cloudBlue);
  transition: color var(--shadowAnimateSpeed);
}

/* Media Queries */
@media screen and (max-width: 835px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
  }

  h1 {
    font-size: 2.2rem;
    margin: 20px 30px auto 30px;
  }

  .pHeader {
    margin: 0 auto 15px auto;
    text-align: center;
    color: var(--cloudBlue);
  }

  .project-card {
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-image-btns {
    flex: 0 1 70%;
    margin-bottom: 20px;
  }

  .project-info-card {
    flex: 0 1 100%;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.2rem;
    margin: 20px auto auto auto;
  }

  h2 {
    margin: 30px auto;
    margin-top: 0;
  }

  .about-me-flex {
    display: block;
  }

  .nav-tabs {
    padding: 0;
  }

  .nav-link {
    margin: 0 5px;
    font-size: 0.7rem;
    padding: 10px;
  }

  .page-section {
    margin-top: 30px;
    padding: 0 20px;
  }

  .profile-pic {
    display: block;
    margin: 0 auto;
  }

  p {
    margin: 0;
    margin-top: 30px;
  }

  .pHeader {
    margin: 0 auto;
    text-align: center;
    color: var(--cloudBlue);
  }  

  .project-card {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }

  .project-image-btns {
    flex: 0 1 100%;
  }

  .project-info-card {
    padding: 15px;
    margin-bottom: 20px;
  }

  .project-info-card p {
    margin-top: 0;
  }

  .form textarea,
  .form input {
    width: 100%;
  }

  .flex-lists {
    display: block;
  }
}
