* {
  font-family: 'Libre Franklin', sans-serif;
  box-sizing: border-box;
}

:root {
  --rustBrown: #265c69;
  --rockLight: #a8927f;
  --cloudWhite: #f2f4f1;
  --coalBlack: #1b222f;
  --cloudBlue: #a6adbd;
  --iceyWaters: #4e5460;
  --shadowAnimateSpeed: .6s;
}

html {
  background-color: var(--cloudWhite);
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--rustBrown);
  box-shadow: 0 5px 5px rgb(0 0 0 / 30%);
}

h1 {
  margin-left: 30px;
  color: var(--cloudWhite);
  font-family: 'Kanit', sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
}

.nav-tabs {
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  margin: 0 15px;
  color: var(--cloudWhite);
  padding: 15px;
  border-radius: 5px;
  transition: box-shadow var(--shadowAnimateSpeed);
}

.nav-link:hover {
  box-shadow: 3px 3px 6px rgb(0 0 0 / 33%), 
    -3px -3px 6px rgb(255 255 255 / 25%);
  transition: box-shadow var(--shadowAnimateSpeed);
}

.nav-link:active {
  box-shadow: inset 6px 6px 12px rgb(0 0 0 / 50%), 
    inset -6px -6px 12px rgb(255 255 255 / 5%);
  transition: box-shadow var(--shadowAnimateSpeed);
}

.active {
  box-shadow: 0px 0px 0px rgb(0 0 0 / 0%),
    0px 0px 0px rgb(0 0 0 / 0%),
    inset 6px 6px 12px rgb(0 0 0 / 50%), 
    inset -6px -6px 12px rgb(255 255 255 / 5%);
  transition: box-shadow var(--shadowAnimateSpeed);
}

.active:hover {
  box-shadow: 3px 3px 6px rgb(0 0 0 / 33%), 
    -3px -3px 6px rgb(255 255 255 / 25%),
    inset 0px 0px 0px rgb(0 0 0 / 0%),
    inset 0px 0px 0px rgb(0 0 0 / 0%);
  transition: box-shadow var(--shadowAnimateSpeed);
}

.page-section {
  margin: 50px;
}

h2 {
  color: var(--coalBlack);
  font-family: 'Kanit', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  padding: 10px;
  margin-bottom: 40px;
}

.lines {
  border-left: 10px solid var(--iceyWaters);
  border-bottom: 3px solid var(--iceyWaters);
}

.about-me-flex {
  display: flex;
  align-items: flex-start;
}

.profile-pic {
  width: 200px;
  border-radius: 100%;
  box-shadow: 3px 3px 6px rgb(0 0 0 / 33%), 
    -3px -3px 6px rgb(255 255 255 / 100%);
}

p {
  margin: 0;
  margin-left: 30px;
  line-height: 1.8;
  text-align: justify;
}

h4 {
  color: var(--coalBlack);
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.all-projects-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1000px;
}

.project-card {
  margin-bottom: 70px;
  flex: 0 0 45%;
}

.project-image-btns {
  flex: 0 1 100%;
}

img {
  width: 100%;
  box-shadow: 3px 3px 6px rgb(0 0 0 / 33%), 
    -3px -3px 6px rgb(255 255 255 / 100%);
}

.project-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.btn-left,
.btn-right {
  flex: 1 1 50%;
  text-align: center;
  background-color: var(--iceyWaters);
  padding: 10px 0;
  color: var(--cloudWhite);
  text-decoration: none;
}

.btn-left {
  border-radius: 8px 0 0 8px;
  border-right: solid 3px var(--coalBlack);
}

.btn-right {
  border-radius: 0 8px 8px 0;
}

.btn-left:hover,
.btn-right:hover {
  background-color: var(--coalBlack);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input {
  width: 400px;
  margin-bottom: 20px;
}

.form textarea {
  width: 400px;
  height:200px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 0;
}

button {
  margin-top: 20px;
  background-color: var(--rustBrown);
  color: var(--cloudWhite);
  padding: 10px 20px;
  border: none;
  box-shadow: 3px 3px 6px rgb(0 0 0 / 33%), 
    -3px -3px 6px rgb(255 255 255 / 100%);
}

button:disabled {
  background-color: var(--cloudBlue);
  box-shadow: none;
}

button:active {
  box-shadow: none;
  box-shadow: 0px 0px 0px rgb(0 0 0 / 0%),
    0px 0px 0px rgb(0 0 0 / 0%),
    inset 6px 6px 12px rgb(0 0 0 / 50%), 
    inset -6px -6px 12px rgb(255 255 255 / 5%);
}

.page-section a {
  color: var(--iceyWaters);
  text-decoration: none;
}

.project-btn-wrapper a {
  color: var(--cloudWhite);
}

h3 {
  text-align: center;
  
}

.flex-lists {
  display: flex;
  justify-content: space-evenly;
}

.flex-lists li {
  margin-bottom: 10px;
}

footer{
  display: flex;
  justify-content: center;
}

footer a {
  color: var(--rustBrown);
  margin: 30px 30px;
  transition: color var(--shadowAnimateSpeed);
}

footer a:hover {
  color: var(--cloudBlue);
  transition: color var(--shadowAnimateSpeed);
}